RPC_BASE_URL=https://grpc.alphanet.thruput.org
FEE_PAYER=default
FAUCET_AMOUNT=1000
FAUCET_STRICT=0
RESUME_ENABLED=1
FORCE_RUN=0
NETWORK_RETRY_ATTEMPTS=3
NETWORK_RETRY_SLEEP=5
RPC_HEALTHCHECK_ENABLED=1
RPC_HEALTHCHECK_ATTEMPTS=3
RPC_HEALTHCHECK_SLEEP=3
PROXY_TEST_RETRY_ATTEMPTS=3
PROXY_TEST_RETRY_SLEEP=3
ACTIVITY_DELAY_ENABLED=1
ACTIVITY_DELAY_MIN=30
ACTIVITY_DELAY_MAX=60

COUNTER_PROGRAM_DIR=/Users/zmaxx/Projects/Thru/counter-program
PROGRAM_SEED_BASE=mycounter
COUNTER_SEED_BASE=count

TOKEN_TICKER_BASE=TST
TOKEN_DECIMALS=9
TOKEN_MINT_SEED_BASE=mint
TOKEN_ACCOUNT_SEED_BASE=acct
TOKEN_MINT_AMOUNT=1000000000

NAMESERVICE_MODE=root
NAMESERVICE_ROOT_BASE=lab
NAMESERVICE_SUBDOMAIN_BASE=dev
NAMESERVICE_RECORD_KEY=github
NAMESERVICE_RECORD_VALUE_TEMPLATE=https://example.invalid/__RUN_TAG__
